
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@using (Html.BeginForm("Index","EmailSetup",FormMethod.Post, new {enctype="multipart/form-data"}))
            {
    <table>
        <tr>
            <td style="width:80px">

                To:
            </td>
            <td>@Html.TextBoxFor(model => model.To)</td>
        </tr>

        <tr>
            <td style="width:80px">

                Subject:
            </td>
            <td>@Html.TextBoxFor(model => model.Subject)</td>
        </tr>
        <tr>
            <td style="width:80px">

                To:
            </td>
            <td>@Html.TextBoxFor(model => model.Body)</td>
        </tr>
    </table>
            }

