
@{
    ViewBag.Title = "Contact";
}




<div class="Contact-form">
    <h2>Contact Us</h2><br>

     <div class="row">
        
         <div class="col-md-12">
             <div class="col-right">
                 <article class="articleBox panel-default">
                     <div class="panel-heading">
                       

                     </div>
                     <div class="content">
                         <div class="leadingContent">
                             <p></p>
                             <p>
                                 <strong>Bhaktapur Multiple Campus,Tribhuwan University</strong>
                                 <br>
                                 Dudhpati, Bhaktapur, Nepal
                             </p>
                             <p>
                                 Contact
                                 <strong>00-977-1-6610200 / 6613199</strong>
                             </p>
                             <p>
                                 Email id:
                                 <strong>info@bmcbkt.edu.np</strong>
                             </p>
                             <p>
                                 
                                 Website: www.bmcbkt.edu.np
                             </p>
                             <div class="mapouter">
                                 <div class="gmap_canvas">
                                     <iframe frameborder="0" id="gmap_canvas" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14134.237338759369!2d85.4208909!3d27.6691024!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39eb1aa39515e461%3A0x8a1b8a0147782c1d!2sBhaktapur%20Multiple%20Campus!5e0!3m2!1sen!2snp!4v1688882713551!5m2!1sen!2snp" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                                 </div>
                             </div>
                         </div>
                     </div>
                 </article>
             </div>

         </div>
     </div>
    @*<form action="@Url.Action("Contact", "Home")" method="post">

        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" name="name" class="form-control" required />
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" name="email" class="form-control" required />
        </div>
        <div class="form-group">
            <label for="message">Message:</label>
            <textarea name="message" class="form-control" rows="5" required></textarea><br>

            <button type="submit" class="btn btn-primary">Send Message</button>
        </div>
    </form>*@

</div>