

@using DBSchoolManagementSystem.Models
@model List<Assignment>
@{
    var message = ViewBag.message as List<Assignment>;
}

@{
    ViewBag.Title = "Home Page";
}

<style>
    /* Global styles */
    body {
        font-family: Arial, sans-serif;
    }

    h2 {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 20px;
    }

    .assignment-container {
        border: 1px solid #ccc;
        padding: 10px;
        margin-bottom: 15px;
        border-radius: 4px;
    }

    .assignment-title {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 5px;
    }

    .assignment-description {
        margin-bottom: 5px;
        color: #555;
    }

    .assignment-due-date {
        color: #888;
    }

    a {
        display: block;
        padding: 8px;
        margin-bottom: 8px;
        text-decoration: none;
        color: black;
        border-radius: 4px;
    }

    /*  a:hover {
            background-color: #0056b3;
        }*/
</style>

<h2>Home Page</h2>
<div>
    @foreach (var m in message)
    {
        <a href="/Student/ViewAssignment/@m.AssignmentId">
            <div class="assignment-container">
                <span class="assignment-title">@m.Title</span>
                <div class="assignment-description">
                    <span>@m.Description</span>
                </div>
                <span class="assignment-due-date">@m.DueDate</span>
            </div>
        </a>
    }
</div>