@using DBSchoolManagementSystem.Models
@model SubmitAssignmentVm

@{
    var assignment = ViewBag.assignment as Assignment;
}

@{
    ViewBag.Title = "ViewAssignment";
}

<style>
    h2 {
        color: #333;
    }

    .assignment-container {
        max-width: 500px;
        margin: 0 auto;
        padding: 20px;
        float: left; /* Add this line */
    }

    .assignment-title {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .assignment-description {
        margin-bottom: 10px;
    }

    .assignment-details {
        margin-bottom: 20px;
    }

    .submit-form {
        margin-top: 20px;
    }
</style>

<h2>View Assignment</h2>
<div class="assignment-container">
    <div class="assignment-details">
        <h4 class="assignment-title">@assignment.Title</h4>
        <p class="assignment-description">@assignment.Description</p>
    </div>

    <form method="post" enctype="multipart/form-data" action="/Student/SubmitAssignmentTo" class="submit-form">
        <input type="hidden" name="AssignmentId" value="@assignment.AssignmentId" />
        <input type="file" name="FileUrl" /><br>
        <input type="submit" value="Submit" class="btn btn-primary" />
    </form>
    <p>@assignment.DueDate</p>
</div>
